body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
}

code {
 font-family: "Kumbh Sans", sans-serif !important;
}

/* #root {
  width: 100vw;
  min-height: 100vh;
  
  } */

input{
  font-family: "Kumbh Sans", sans-serif !important;
}

button{
  font-family: "Kumbh Sans", sans-serif !important;
}